.card-header {
  background-color: #5daeff;
}

.jumbotron {
  background-color: white;
  text-align: center;
}

.col-4 {
  display: inline-block;
  width: 350px;
  margin-left: 2rem;
}

.h1 {
  font-family: monospace;
}
